<html>
	<head>
		<title>Convert FLex files to Apertium Module</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<body>
		<form action="/FLextoApertium" method="POST" enctype="multipart/form-data">
            <link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
			{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes style="background-color:Tomato;text-align: -webkit-center">
				{% for message in messages %}
      				<li style="text-align:-webkit-center;font-weight:bolder;">{{ message }}</li>
    			{% endfor %}
    			</ul>
  			{% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
			<h1>FLex-to-Apertium Tools</h1>
			<ul>
    			{% for item in nav.top %}
    			<li class="{{ 'active' if item.is_active else '' }}">
        		<a href="{{ item.url }}">{{ item.label }}</a>
    			</li>
    			{% endfor %}
			</ul>
			<h2>Convert FLex files to Apertium Module</h2>
			<p>
				Fill out the following information, upload XML or FLEXTEXT exports for one language, and select
				submit to create an Apertium module for the language. Depending on the privacy settings selected,
				the generated module will be available either as a link to a Github page or a download of the repository
				as a zip file.
			</p>
			<p>
				See the <a href="learn.html">learn page</a> for more information about how to use the generated
				Apertium module and tips for improving the model. For insight on how the module is generated, see the
				<a href="about.html">about page</a>.
			</p>
			<p>Enter iso code for the language: <input id="iso" name="iso" type="text"> </p>
			<!-- TODO add a hover info button to explain options -->
			<p>Data confidentiality:
				<input id="privacy" name="privacy" type="radio" value="public">
				<label>Create an open-source Apertium module</label>
				<input id="privacy" name="privacy" type="radio" value="private">
				<label>Download a private repository file</label>
			</p>
			<p>Upload your XML and/or FLEXTEXT file(s): <input type="file" name="file" multiple></p>
			<input type="submit" value="Convert!">
        </form>
	</body>
</html>
