<html>
	<head>
		<title>Using Apertium to Develop Language Technology</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<body>
		<form action="/learn" method="POST">
            <link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
			<h1>FLEx-to-Apertium Tools</h1>
			<br>
			<ul>
    			{% for item in nav.top %}
    			<li class="{{ 'active' if item.is_active else '' }}">
        		<a href="{{ item.url }}">{{ item.label }}</a>
    			</li>
    			{% endfor %}
			</ul>
			<h2>Apertium for language technology</h2>
        </form>
	</body>
</html>
