<html>
	<head>
		<title>Using Apertium to Develop Language Technology</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<body>
		<form action="/learn" method="POST">
            <link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
			<h1>FLEx-to-Apertium Tools</h1>
			<br>
			<ul>
    			{% for item in nav.top %}
    			<li class="{{ 'active' if item.is_active else '' }}">
        		<a href="{{ item.url }}">{{ item.label }}</a>
    			</li>
    			{% endfor %}
			</ul>
			<h2>Apertium for language technology</h2>
			<p>Apertium is an open-source tool for machine translation. This page describes the
				applications of Apertium, available resources for learning more information, outlines
				of various files associated with </p>
			<h3>I. Applications of Apertium</h3>
			<h3>II. Resources for further information</h3>
			<h3>III. Introduction to Apertium files</h3>
			<h4>i. Lexicon File</h4>
			<h4>ii. Rule File</h4>
        </form>
	</body>
</html>
